@inherits _Displayer<Contenter.Models.Persons.Persona, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source.Select(item => new {
      item.Name,
      Contents = item.ContentAssignments
      .OrderByDescending(ass => ass.Content.PublishedAt)
      .Select(ass => new {
        ass.Content.Id,
        ass.Content.Name,
        ass.Content.PublishedAt,
        Fam = ass.Content.FamId == null ? null : new {
          Id = ass.Content.FamId,
          ass.Content.Fam!.Name,
        }
      })
    })
  )
>
  <IfSome Context="model">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      <FluentLabel Typo=@Typography.H5>
        @model.Name
      </FluentLabel>
    </FluentStack>
    @Before
    @if (model.Contents.Any())
    {
      
      <table class="bord">
        @foreach(var ct in model.Contents)
        {
          <tr>
            <td>@ct.PublishedAt</td>
            <td>
              <Name ParamHref=@($"/c/contents/{ct.Id}") ParamName="@ct.Name" />
            </td>
            <td>
              @if (ct.Fam != null)
              {
                <a href="/c/fam/@ct.Fam.Id">@ct.Fam.Name</a>
              }
            </td>
          </tr>
        }
      </table>
    }
    @After
  </IfSome>
</ExpList>
