@page "/p/personas/c"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@rendermode InteractiveServer
@code
{
  [SupplyParameterFromQuery]
  public bool BackToContentCreation { get; set; } = false;
}
<h3>Create Persona</h3>
@inject NavigationManager navigationManager
<_Create
  OnAfterSave=@(async (Contenter.Models.Persons.Persona model) => {
    if(this.BackToContentCreation){
      this.navigationManager.NavigateTo($"/c/contents/c");
    } else {
      this.navigationManager.NavigateTo($"/p/personas/{model.Id}");
    }
  })>
  Create
</_Create>
