@page "/s/sources/c"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@rendermode InteractiveServer
@code
{
  [SupplyParameterFromQuery]
  public Guid? ContentId { get; set; }
  [SupplyParameterFromQuery]
  public string? YoutubeVideoIdentifier { get; set; }
}
<h3>Create Source</h3>
@inject NavigationManager navigationManager
<_Create 
  ContentId=this.ContentId
  OnAfterSave=@(async (Contenter.Models.Sources.Source model) => {
    if(this.ContentId != null){
      this.navigationManager.NavigateTo($"/c/contents/{this.ContentId}");
    } 
    else 
    {
      this.navigationManager.NavigateTo($"/s/sources/{model.Id}");
    }
  })>
  Create
</_Create>
