@inherits _Editor<Contenter.Models.Sources.Source, Guid>
@page "/edit/s/sources/{id:guid}"
@rendermode InteractiveServer

@code {
  protected override IQueryable<Contenter.Models.Sources.Source> Includer(IQueryable<Contenter.Models.Sources.Source> dbset)
  {
    return base.Includer(dbset)
      .Include(item => item.Platform)
      .Include(item => item.Definition)
      .Include(item => item.Channel)
      .Include(item => item.Content).ThenInclude(item => item.SlotAssignments!).ThenInclude(item => item.Slot)
      .Include(item => item.Content).ThenInclude(item => item!.Fam)
      .Include(item => item.Content).ThenInclude(item => item!.GuestPersonaAssignments).ThenInclude(item => item.Guest).ThenInclude(item => item.ThingDefinition).ThenInclude(item => item.Scope)
      .Include(item => item.Content).ThenInclude(item => item.GuestPersonaAssignments).ThenInclude(item => item.Slot)
    ;
  }
}

<h3>Edit</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
