@page "/s/sources"
@inject Contenter.Data.Database db
@rendermode InteractiveServer
<h3>Index</h3>

@code {
  private PaginationState paginationState = new();
}
<FluentDataGrid Pagination=@this.paginationState
  Items=@(
    this.db.Set<Contenter.Models.Sources.Source>()
  )
>
  <TemplateColumn Context="model">
    @model
    <a href="/s/sources/@model.Id">@model</a>
  </TemplateColumn>
</FluentDataGrid>
<FluentPaginator State=@this.paginationState />
