@page "/o/t/{id:guid}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<FluentLabel Typo=@Typography.H5>
  Persona
</FluentLabel>
<AuthorizeView Policy="AdminSuper">
  <Authorized>
    <div>
      <a href="/edit/o/t/@this.Id">Edit</a>
      |
      <a href="/delete/o/t/@this.Id">Delete</a>
    </div>
  </Authorized>
</AuthorizeView>
<_Display Id=@this.Id />
