@inherits _Editor<Thing, Guid>
@page "/edit/o/t/{id:guid}"
@rendermode InteractiveServer
@code {
  protected override IQueryable<Thing> Includer(IQueryable<Thing> dbset)
  {
    return base.Includer(dbset)
    .Include(item => item.ThingDefinition)
    ;
  }
}

<h3>Edit Thing</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
