@inherits _Displayer<Contenter.Models.Contents.Content, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source
    .Select(item => new {
      item.Name,
      item.PublishedAt,
      Fam = item.FamId == null ? null : new FamView {
        Id = item.FamId!.Value,
        Name = item.Fam!.Name,
      },
      Guests =  item.GuestPersonaAssignments.OrderBy(item => item.IndexB)
      .Select(ass => new ThingView {
        Id = ass.GuestId,
        Name = ass.Guest.Name,
        Definition = ass.Guest.ThingDefinitionId == null ? null : new (){
          Id = ass.Guest.ThingDefinitionId!.Value,
          Name = ass.Guest.ThingDefinition!.Name
        }
      }),
      Sources = item.Sources
      .Select(source => new SourceView () {
        Id = source.Id,
        Href = source.Href,
        Name = source.Name,
        Channel = source.ChannelUid == null ? null : new ChannelView {
          Id = source.Channel!.Id,
          Name = source.Channel.Title ?? source.Channel.Name,
          IconPath = source.Channel!.Platform.IconPath,
          Href = source.Channel.Href,
        },
        Content = null,
        IconPath = source.PlatformId == null ? null : source.Platform!.IconPath,
        DefinitionUid = source.DefinitionUid,
      }),
    })
  )
>
  <IfSome Context="model">
    <PageTitle>Content: @model.Name - sars.lt</PageTitle>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      <InnerLinkFam Model=@model.Fam After />
      <Name ParamName=@model.Name />
    </FluentStack>
    @Before
    @if (model.PublishedAt != null)
    {
      <div>
        Published: @model.PublishedAt.Value.ToShortDateString()
      </div>
    }
    <div>
      Guests: 
      <OneOrMany ParamList=@(model.Guests) Context="guest" Many>
        <InnerLinkThing Model=@guest />
      </OneOrMany>
    </div>
    <div>
      Sources (<a href="/create/s/sources?ContentId=@this.Id">add</a>): 
      <OneOrMany ParamList=@(model.Sources) Context="source" Many>
        <ChildContent>
          <InnerLinkChannel Model=@source.Channel After />
          <InnerLinkSource Model=@source />
          |
          <OuterLinkSource Model=@source Name="@source.DefinitionUid" />
        </ChildContent>
      </OneOrMany>
    </div>
    @After
  </IfSome>
</ExpList>
