@page "/c/contents/{id:guid}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<_Display Id=@this.Id />

<div>
  <a href="/c/contents/@this.Id/e">Edit</a>
  |
  <a href="/c/contents/@this.Id/d">Delete</a>
</div>
