@code {

}
@inject Contenter.Data.Database db

<ExpList 
  ParamSource=@(
    this.db.Things
    .OrderByDescending(fam => fam.ContentAssignments!.Count)
    .Where(item => item.ContentAssignments!.Count > 0)
    .Where(item => item.ThingDefinitionId == Ids.TD_PersonaId)
    .Select(persona => new {
      View = new ThingView(){
        Id = persona.Id,
        Name = persona.Name,
        Definition = new()
        {
          Id = persona.ThingDefinitionId,
          Name = persona.ThingDefinition!.Name,
          PluralName = persona.ThingDefinition.Plural,
        }
      },
      Content = new {
        Count = persona.ContentAssignments!.Count
      }
    })
  )
>
  <Wrapper Context="rows">
    <table class="bord">@rows</table>
  </Wrapper>
  <IfSome Context="fam">
    <tr>
      <td>
        <InnerLinkThing Model=@fam.View NoDefinition />
      </td>
      <td>@fam.Content.Count</td>
    </tr>
  </IfSome>
</ExpList>
