@page "/delete/o/s/{id:guid}"
@rendermode InteractiveServer
@code 
{
  [Parameter]
  public Guid Id { get; set; } = default!;
}

<h3>Delete Scope ?</h3>
<_Display Id=@this.Id>
  <After>
    <_DeleteButton Id=@this.Id />
  </After>
</_Display>
