@page "/o/s/{id:guid}"
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<FluentLabel Typo=@Typography.H5>
  Scope
</FluentLabel>
<_Display Id=@this.Id />

<div>
  <a href="/edit/o/s/@this.Id">Edit</a>
  |
  <a href="/delete/o/s/@this.Id">Delete</a>
</div>
