@inherits _Editor<Scope, Guid>
@page "/edit/o/s/{id:guid}"
@rendermode InteractiveServer

@code {
  protected override IQueryable<Scope> Includer(IQueryable<Scope> dbset)
  {
    return base.Includer(dbset)
    ;
  }
}

<h3>Edit</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
