@page "/c/fam/{id:guid}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<FluentLabel Typo=@Typography.H5>
  ContentFam
</FluentLabel>

<_Display Id=@this.Id >
  <Before>
    <AuthorizeView Policy="AdminSuper">
      <Authorized>
        <text>
          <a href="/edit/c/fam/@this.Id">Edit</a>
          |
          <a href="/delete/c/fam/@this.Id">Delete</a>
        </text>
      </Authorized>
    </AuthorizeView>
  </Before>
</_Display>
