@inherits _Editor<Contenter.Models.Contents.ContentFam, Guid>
@page "/edit/c/fam/{id:guid}"
@rendermode InteractiveServer

@code {
  protected override IQueryable<Contenter.Models.Contents.ContentFam> Includer(IQueryable<Contenter.Models.Contents.ContentFam> dbset)
  {
    return base.Includer(dbset)
    ;
  }
}

<h3>Edit</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
