@inherits _Editor<ContentDefinition, Guid>
@page "/edit/c/contentdefinitions/{id:guid}"
@rendermode InteractiveServer

@code {
  protected override IQueryable<ContentDefinition> Includer(IQueryable<ContentDefinition> dbset)
  {
    return base.Includer(dbset)
    ;
  }
}

<h3>Edit</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
