@page "/c/contentdefinitions"
@inject Contenter.Data.Database db
<h3>Index</h3>

@code {
  private PaginationState paginationState = new();
}
<FluentPaginator State=@this.paginationState />
<FluentDataGrid Pagination=@this.paginationState
  Items=@(
    this.db.Set<ContentDefinition>()
  )
>
  <TemplateColumn Context="model">
    @model
    <a href="/c/contentdefinitions/@model.Id">@model</a>
  </TemplateColumn>
</FluentDataGrid>
