@inherits _Editor<SourcePlatform, string>
@page "/edit/s/platforms/{id}"
@rendermode InteractiveServer

@code {
  protected override IQueryable<SourcePlatform> Includer(IQueryable<SourcePlatform> dbset)
  {
    return base.Includer(dbset)
    ;
  }
}

<h3>Edit</h3>
@if (this.model != null)
{
  <_Bind model=@this.model OnValidSubmitCallback=@this.DoUpdate>
    Save
  </_Bind>
}
