@page "/s/channels/{id:guid}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@rendermode InteractiveServer
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<FluentLabel Typo=@Typography.H5>
  Channel
</FluentLabel>
<AuthorizeView Policy="AdminSuper">
  <Authorized>
    <div>
      <a href="/edit/s/channels/@this.Id">Edit</a>
      |
      <a href="/delete/s/channels/@this.Id">Delete</a>
    </div>
  </Authorized>
</AuthorizeView>
<_Display Id=@this.Id />
