@page "/s/channels"
@inject Contenter.Data.Database db
<h3>Index</h3>

@code {
  private PaginationState paginationState = new();
}
<FluentDataGrid Pagination=@this.paginationState
  Items=@(
    this.db.Set<Contenter.Models.Sources.Channel>()
  )
>
  <TemplateColumn Context="model">
    @model
    <a href="/s/channels/@model.Id">@model</a>
  </TemplateColumn>
</FluentDataGrid>
<FluentPaginator State=@this.paginationState />
