@inherits _Binder<Contenter.Models.Persons.Persona>
@rendermode InteractiveServer
@code {
  override protected async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();
  }
}
<EditForm Model=@this.model OnValidSubmit=@this.OnValidSubmit FormName="create">
  <DataAnnotationsValidator />
  <FluentValidationSummary />

  <FluentStack Orientation="@Orientation.Vertical">
    <div>
      <FluentTextField @bind-Value=@this.model.Name Label="Name" Required />
    </div>
    <div>
      <FluentTextArea @bind-Value=@this.model.Description Label="Description" Required="false" />
    </div>
    <div>
      @if(this.model.Links != null)
      {
        <StringListmanager @bind-list=@this.model.Links />
      }
      <FluentButton OnClick=@(() => {
        this.model.Links ??= [];
        this.model.Links.Add(string.Empty);
      })> Add link
      </FluentButton>
    </div>
    @if (ChildContent != null)
    {
      <FluentButton Type=@ButtonType.Submit Appearance=@Appearance.Accent>@ChildContent</FluentButton>
    }
  </FluentStack>
</EditForm>
