@inherits _Displayer<Contenter.Models.Persons.Persona, Guid>

<ExpList
  ParamExpectedCount="1"
  ParamSource=@(
    this.Source.Select(persona => new {
      persona.Name,
      Contents = persona.ContentAssignments
        .OrderByDescending(ass => ass.Content.PublishedAt)
         .Select(ass => new ContentView {
            Id = ass.Content.Id,
            PublishedAt = ass.Content.PublishedAt,
            Name = ass.Content.Name,
            Fam = ass.Content.FamId == null ? null : new FamView {
              Id = ass.Content.Fam!.Id,
              Name = ass.Content.Fam!.Name,
            },
            Guests = ass.Content.GuestPersonaAssignments
              .OrderBy(gass => gass.Guest.Name)
              .Where(item => item.GuestId != this.Id)
              .Select(gass => new PersonaView{
                Id = gass.GuestId,
                Name = gass.Guest.Name,
              }),
            Sources = ass.Content.Sources.Select(source => new SourceView {
              Id = source.Id,
              Href = source.Href,
              IconPath = source.PlatformId == null ? null : source.Platform!.IconPath,
              DefinitionUid = source.DefinitionUid,
              Name = null,
              Channel = null,
              Content = null,
              PublishedAt = null,
            }),
        }),


    })
  )
>
  <IfSome Context="model">
    <PageTitle>@model.Name - sars.lt</PageTitle>
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="4">
      <FluentLabel Typo=@Typography.H5>
        @model.Name
      </FluentLabel>
    </FluentStack>
    @Before
    @if (model.Contents.Any())
    {
      <table class="bord">
        @foreach(var ct in model.Contents)
        {
          <tr>
            <td>@ct.PublishedAt?.ToShortDateString()</td>
            <td><InnerLinkFam Model=@ct.Fam /></td>
            <td><InnerLinkContent Model=@ct/></td>
            <td>
              <OneOrMany ParamList=@(ct.Sources) Context="source">
                <OuterLinkSource Model=@source Name=@source.DefinitionUid />
              </OneOrMany>
            </td>

            <td>
              <OneOrMany ParamList="ct.Guests" Context="guest">
                <IfNone></IfNone>
                <ChildContent>
                  <InnerLinkPersona Model=@guest />
                </ChildContent>
              </OneOrMany>
            </td>
          </tr>
        }
      </table>
    }
    @After
  </IfSome>
</ExpList>
