@page "/p/personas/{id:guid}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@code {
  [Parameter]
  public Guid Id { get; set; }
}
<_Display Id=@this.Id />

<div>
  <a href="/edit/p/personas/@this.Id">Edit</a>
  |
  <a href="/delete/p/personas/@this.Id">Delete</a>
</div>
