@page "/p/personas"
@inject Contenter.Data.Database db
@rendermode InteractiveServer
<h3>Index</h3>

@code {
  private PaginationState paginationState = new();
}
<FluentDataGrid Pagination=@this.paginationState
  Items=@(
    this.db.Set<Thing>()
  )
>
  <TemplateColumn Context="model">
    @model
    <a href="/p/personas/@model.Id">@model</a>
  </TemplateColumn>
</FluentDataGrid>
<FluentPaginator State=@this.paginationState />
