@page "/"
@page "/contents"
@using Contenter.Views.Components.Contenters
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
Sukurti naują
<a href="/create/s/sources">source</a> |
<a href="/create/c/contents">turinį</a>.

<ContentListComponent Take="40" Main />
