@using Contenter.Views.Components.SourcesListComponents
@page "/"
@page "/sources"
Sukurti naują
<a href="/create/s/sources">source</a> |
<a href="/create/c/contents">turinį</a> |
<a href="/create/p/personas">asmenį</a> |
<a href="/create/c/fam">laidą</a>
.
<Contenter.Components.Pages.CRUD.Sources.Sources.Sources Skip="0" Take="40" />
