@page "/sources"
Sukurti naują
<a href="/create/s/sources">source</a> |
<a href="/create/c/contents">turinį</a>.
<Contenter.Components.Pages.CRUD.Sources.Sources.Sources
  Skip="0"
  Take="40"
  ParamForMainPage
/>
