@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<AuthorizeView>
  <table class="bord">
    <tr>
      <td></td>
      <td><a href="/sources">Sources</a></td>
      <td><a href="/sources/nocontent">no-content</a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="/contents">Contents</a></td>
    </tr>
  </table>

</AuthorizeView>
@code {
  
}
