@page "/bookmarklets"
@attribute [StreamRendering]

<table class="bord">
  <tr>
    <td>Create Source</td>
    <td>Youtube Video</td>
    <td>
      <a href="@Js.YoutubeVideo" target="">
        yt-sars.lt
      </a>
    </td>
  </tr>
</table>
