@page "/"
@using Contenter.Views.Components.ContentsListComponents;
<PageTitle>Home</PageTitle>
Sukurti naują <a href="/create/c/contents">turinį</a>
| <a href="/create/p/personas">asmenį</a>
| <a href="/create/c/fam">laidą</a>
.
<ContentsListComponent Skip="0" Step="20" />
