@code
{
  [EditorRequired]
  [Parameter]
  public ChannelView? Model { get; set; } = default!;

  [Parameter]
  public bool After { get; set; } = false;

  [Parameter]
  public int? MaxLength { get; set; }
}
@if (this.Model != null)
{
  <a href=@($"s/channels/{this.Model.Id}")>@this.Model.Name</a>
  @if (After)
  {
    <text> &raquo; </text>
  }
}
